/*.index-dossier{
    width: 100%;
    text-align: center;
}
.index-dossier .element {
    display: flex;
    justify-content: space-around;
    border: 5px solid ; 
    width: 100%;
   
}

*/
.index-dossier{
  width: 100%;
  margin-top: -15px;
  margin-left: -5px;
}
.index-dossier .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 60px;
    padding: 0 20px;
    width: 100%;

  }
  
  
  .index-dossier  .navbar ul li {
    margin-right: 20px;
  }
  
  .index-dossier .navbar ul li:last-child {
    margin-right: 0;
  }
  
  .index-dossier .navbar .aa {
    color:  #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }

  @media (min-width: 1371px) {
    .index-dossier .navbar ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      .index-dossier .nomPatient{
        font-family: 'Lobster', cursive;
        font-size: 18px;
       } 
       .secretair .index-dossier .navbar ul {
        width: 100%;
        display: flex;
        justify-content: space-between ;
      
       }
  }
  .dosserMed {
    display: none;
        }

  .index-dossier .navbar-toggle {
    display: none;
  }


  @media (max-width: 1370px) {
    .dosserMed {
display: block;
    }
    .index-dossier .nomPatient{
      font-family: 'Lobster', cursive;
      font-size: 18px;
      position: relative;
      top: 20px;
     } 
    .index-dossier  .navbar ul {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #333;
      padding: 10px 0;
      display: none;

      
    }
  
    .index-dossier  .navbar ul li {
      margin: 0;
    }
  
    .index-dossier   .navbar ul li .aa {
      font-size: 16px;
      padding: 20px 30px;
      display: block;
      border-bottom: 1px solid #fff;
   
    }
    .index-dossier   .navbar ul li .aa:hover{
      padding-left: 60px;
      transition: 0.5s;
    }
    .index-dossier   .navbar .activee ul {
      display: flex;
    }
    .index-dossier  .navbar-toggle {
        display: block;
        position: absolute;
        top: -20px;
        right: 30px;
        cursor: pointer;
        color: white !important;
      }
    
      .index-dossier   .navbar-toggle span {
        display: block;
        width: 25px;
        height: 4px;
        margin-bottom: 3px;
        background-color: #333;

        z-index: 99;
      }
     
      .index-dossier   .navbar .activee {
          display: flex;
          flex-direction: column;
          list-style: none;
          margin-top: 20px;
          margin-left: 35%;
          margin-right: 28px;
          padding: 0;
          background-color: rgb(198, 198, 233);
          position: absolute;
          top: 5px;
          left: 0;
          right: 0;
          display: block; /* Masque la liste par défaut  rgb(198, 198, 233) */
          color: white !important;
    border-radius:10px 0px 10px 10px;
   z-index: 97;
   box-shadow: -32px 14px 168px 196px rgba(0,0,0,0.4);
-webkit-box-shadow: -32px 0px 168px 40px rgba(0,0,0,0.4);
-moz-box-shadow: -32px 14px 168px 196px rgba(0,0,0,0.4);

        }
        .index-dossier   .navbar{
          position: relative;
        }
        .index-dossier   .navbar .activee::before{/* 9abla          */
          content: ' ';
          width: 0px;
          height: 0px;
          position: absolute;
          right: 0px;
          top:  -20px;
          border-style: solid;
          border-width: 10px;
          border-color:  transparent  transparent  rgb(198, 198, 233) transparent  ;
         
        }
  }


  @media (max-width: 400px){
    .paramitre    .navbar .activee {
      margin-top: 25px;
      margin-left: 0px;
      margin-right: 30px;
      padding: 0;
   
      position: absolute;
      top: 45px;
      left: 120px;
      right: 0px;

    }

    .paramitre    .navbar ul li .aa {
      font-size: 10px !important;
      padding: 10px 20px;
      display: block;
      border-bottom: 1px solid #fff;
   
    }

    .index-dossier   .navbar .inactivee{
      display: none;
    }

  } 
 